<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="HoraEjecucion" value="5"/>
    <add key="ActualizaAerolinea" value="0"/>
    <add key="ActualizaCiudades" value="0"/>
    <add key="IntervaloActualizacion" value="300000"/>
    <add key="RutaLogs" value="D:\LogIntegracion\"/>
    <add key="RutaServicioLocal" value="http://localhost:62858/"/>
    <add key="RutaServicioRemoto" value="http://172.31.16.230:9000/OPAIN_ApiJDE/"/>
    <add key="timerOut" value="120000"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
