<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HoraEjecucion" value="5"/>
    <add key="RutaServicioLocal" value="http://localhost:62858/"/>
    <add key="RutaServicioRemoto" value="http://172.31.16.230:9000/OPAIN_ApiJDE/"/>
  </appSettings>
  <configSections>
    <sectionGroup name="SX.Motor">
      <section name="IdentificacionServicio" type="SX.Core.MotorBase.Configuracion.IdentificacionServicio, SX.Core.MotorBase" />
      <section name="Tareas" type="SX.Core.MotorBase.Configuracion.Tarea, SX.Core.MotorBase" />
    </sectionGroup>
  </configSections>
  <SX.Motor>
    <IdentificacionServicio NombreUnicoInterno="Opain.Jarvis.Motor" NombreUnicoVisible="Opain Jarvis Motor" DescripcionVisible="descripcion del motor" IdAplicacion="0D38E361-EE90-47D2-965C-26160B14C135" TraceDebugActivo="false" />
    <Tareas>
      <Tarea NombreInterno="TraerDatosJDE" IntervaloSegundos="20" IntervaloCantidadAProcesar="1" Extension="" />
      <Tarea NombreInterno="ActualizarDatosJDE" IntervaloSegundos="20" IntervaloCantidadAProcesar="1" Extension="" />     
    </Tareas>
  </SX.Motor>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
