<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="SX.Motor">
      <section name="IdentificacionServicio" type="SX.Core.MotorBase.Configuracion.IdentificacionServicio, SX.Core.MotorBase" />
      <section name="Tareas" type="SX.Core.MotorBase.Configuracion.Tarea, SX.Core.MotorBase" />
    </sectionGroup>
    <section name="SX.OPAIN" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  
  <appSettings>
    <add key="HoraEjecucion" value="5" />
    <add key="RutaServicioLocal" value="http://localhost:44311/" />
    <add key="RutaServicioRemoto" value="http://172.31.16.230:9000/OPAIN_ApiJDE/" />
  </appSettings> 

  <SX.Motor>
    <IdentificacionServicio NombreUnicoInterno="SX.Opain.Jarvis.Integraciones" 
                            NombreUnicoVisible="SX Opain Jarvis Integraciones" 
                            DescripcionVisible="Motor de integraciones OPAIN" 
                            IdAplicacion="0D38E361-EE90-47D2-965C-26160B14C135" 
                            TraceDebugActivo="false" />
    <Tareas>
      <Tarea NombreInterno="TraerDatosJDE" IntervaloSegundos="20" IntervaloCantidadAProcesar="1" Extension="7" />
      <Tarea NombreInterno="ActualizarVuelos" IntervaloSegundos="0" IntervaloCantidadAProcesar="0" Extension="0" />
      <Tarea NombreInterno="Notificaciones" IntervaloSegundos="3" IntervaloCantidadAProcesar="0" Extension="1" />
      <Tarea NombreInterno="TraerAerolineas" IntervaloSegundos="3" IntervaloCantidadAProcesar="5" Extension="9" />
      <Tarea NombreInterno="TraerCiudades" IntervaloSegundos="3" IntervaloCantidadAProcesar="5" Extension="9" />
    </Tareas>
  </SX.Motor>

  <SX.OPAIN>
    <add key="HoraEjecucion" value="5" />
    <add key="RutaServicioLocal" value="https://localhost:44311/" />
    <!--<add key="RutaServicioJarvis" value="https://localhost:44310/" />-->
    <!--<add key="RutaServicioLocal" value="http://internal-app-2k16-interno-620448573.us-east-1.elb.amazonaws.com:9000/OPAIN_ApiJDE/" />-->
    <add key="RutaServicioJarvis" value="http://internal-app-2k16-interno-620448573.us-east-1.elb.amazonaws.com:9000/OPAIN_ApiNegocios/" />
    <add key="RutaServicioRemoto" value="http://172.31.16.230:9000/OPAIN_ApiJDE/" />
    <add key="User" value="55500015" />
    <add key="Pass" value="Cambiar*123" />
  </SX.OPAIN>

   
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>